.todo-container{
    margin: 10px 0;
    padding: 10px;
    min-height: 50px;
    background-color: #ededed;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.todo-list-title{
    margin: 5px;
    font-weight: bold;
    text-align: center;
}